.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #141414;
  font-size: 4rem;      
  word-break: normal;   
  max-width: none;     
  line-height: 1;
  align-self: start;   
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.empresa:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b67af8, #6757dd);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  grid-column: 1 / -1;
  text-align: left;
  color: #525252;
  font-size: 0.875rem;
  margin-top: 10px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #2e2e2e;
  grid-column: 1 / -1;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  grid-column: 1 / -1;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .empresa {
    grid-template-columns: 1fr;
  }

  .empresa-ano {
    text-align: left;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-bottom: 60px; 
  }

  .experiencia .subtitulo {
    display: block; 
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .empresa {
    grid-template-columns: 1fr;
  }

  .empresa-ano {
    text-align: left;
    margin-top: 10px;
    color: #000000;
    font-size: 1.2rem;
  }
}