.sobremim {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.sobremim .subtitulo {
  font-size: 4.5rem;
  line-height: 1.125;
}

.sobremim-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.sobremim-texto strong {
  color: #141414;
}

@media (max-width: 400px) {
  .subtitulo {
    display: none;
  }
  
  .sobremim {
    grid-template-columns: 1fr;
  }

  .sobremim-texto {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
